out/
bin/
build/
.settings/
.gradle/
.classpath
.project
.git/
.svn*
catalina*
/logs/
*.iml
.idea
.DS_Store
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
